<configuration scan="true" scanPeriod="30 seconds">
    <property scope="context" name="logfolder" value="/tmp/opensource/logs" />
    <property scope="context" name="serviceName" value="sample" />
    
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	
	<!-- Console appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] |-%-5level %logger{0}- [%X{correlationid}] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="COMMON_ROLLER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logfolder}/${serviceName}/${serviceName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${logfolder}/${serviceName}/${serviceName}-%d.zip</fileNamePattern>
			<!-- each file should be at most 4MB, keep 60 days worth of history, but 
				at most 20GB -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] |-%-5level %logger{0}- [%X{correlationid}] - %msg%n</pattern>
		</layout>
	</appender>
	
	
	
	
	
	<!-- Application Loggers -->
	<logger name="com.examples.springboot">
		<level value="trace" />
	</logger>

	<!-- http request response logging -->
	<logger name="com.examples.springboot.HttpPayloadLoggerFilter">
		<level value="trace" />
		
	</logger>

	
		
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="trace" />
	</logger>

	<!-- For jdbc query debugging -->
	<logger name="org.springframework.jdbc.core">
		<level value="trace" />
	</logger>

	<!-- For jdbc transaction debugging -->
	<logger name="org.springframework.transaction">
		<level value="trace" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="trace" />
	</logger>

	<logger name="org.springframework.context">
		<level value="trace" />
	</logger>

	<logger name="org.springframework.web">
		<level value="trace" />
	</logger>

	<root level="debug">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="COMMON_ROLLER" />
	</root>

</configuration>